.card {
  width: 250px;
  height: 303px;
  background: #ffffff;
  box-shadow: 1px 1px 3px rgba(33, 33, 33, 0.25);
  border-radius: 4px;
}

.imageContainer {
  width: 250px;
  height: 134px;
}

.userImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px 4px 0px 0px;
}

.content {
  width: 242px;
  height: 169px;
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.titleDiv {
  width: 233px;
  height: 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleH2 {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  color: #000000;
}

.contacts {
  width: 200px;
  height: 79px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info {
  width: 200px;
  margin: 0;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  display: flex;
  align-items: center;

  padding: 2px 0;
  color: #000000;
}

.contactIcons {
  margin-right: 6px;
}

.buttonContainer {
  width: 233px;
  height: 21px;
}

.showButton {
  float: right;
  width: 95px;
  height: 21px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  color: #ffffff;
  background: #212121;
  border-radius: 2px;
  border-style: none;
}

.showButton:hover {
  cursor: pointer;
}
