.contactContainer {
  width: 661px;
  height: 515px;

  margin-top: 41px;
  margin-left: 50px;
}

.upperMedia {
  width: 324px;
  height: 146px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 41px;
}

.imageContainer {
  width: 228px;
  height: 146px;
  border-radius: 4px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.heart {
  font-size: 70px;
  font-weight: 20;
}

.formContainer {
  width: 621px;
  height: 329px;
}

.form {
  display: flex;
  justify-content: space-between;
}

.field {
  margin-bottom: 27px;
}

.field label {
  display: block;

  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: rgba(33, 33, 33, 0.75);
  height: 22px;
}

.field input {
  display: block;
  width: 289px;
  height: 40px;

  background: #ffffff;
  border: 1px solid rgba(33, 33, 33, 0.35);
  border-radius: 2px;

  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  /* identical to box height */

  color: rgba(33, 33, 33, 0.75);
}

.formButtonContainer {
  margin-top: 49px;
}

.formButton {
  width: 289px;
  height: 40px;
  background: #212121;
  border-radius: 2px;
  border-style: none;

  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  color: #ffffff;
}

.formButton:hover {
  cursor: pointer;
}
