.contactContainer {
  width: 661px;
  height: 515px;
  background-color: aliceblue;
  margin-top: 41px;
  margin-left: 50px;
}

.upperMedia {
  width: 324px;
  height: 146px;
  background-color: antiquewhite;
}
